html {
  height: 100%;
}

body {
    min-height: 100%;
    background: #000000;
    margin: 20px;
}

#box {
    height: 70vh;
}

#model {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
    border: none;
}

.colorPicker {
    background: none;
    border: none;
    margin: 0;
}

.colorPicker .oned {
    margin-right: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transform: translate3d(-100vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    z-index: 1000;
}

.container.show {
    transform: translate3d(0vw, 0, 0);
}	

.config {
    flex-grow: 1;
    margin-left: 20px;
}

.config-title {
    text-align: center;
    padding: 15px 0;
    font-family: sans-serif;
    font-weight: bold;
}

.slider-text {
    text-align: center;
    font-family: monospace;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.selected-color, .slider {
    height: 15px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 15px;
}

.material-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    margin: 0%;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.material-slider:hover {
    opacity: 1;
}

.material-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #04AA6D;
    cursor: pointer;
}

.material-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #04AA6D;
    cursor: pointer;
}

#roundButton {
    background-color: #96D9FF;
    margin-left: 20px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 10px solid #0065A6;
    outline: none;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
}

#roundButton:hover {
    background-color: #96D9FF;
    cursor: pointer;
    border-color: #003557;

}

#roundButton:active {
    border-color: #003557;
    background-color: #FFF;
}